*
{
    font-family: 'Roboto', sans-serif;
}
body
{
    background: #f1f1f2;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: #e6e7e8;
    width: 100%;
    z-index: 999;
    height: 65px;
    align-items: center;
    justify-content: space-between;
    top: 0;
    right: 0;
  }
  
  .navbar a, .navbar .links .dropdown a i{
    color: #615e5e;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    padding: 10px 15px;
  }
  
  .navbar a:hover,
  .navbar .links .dropdown a i:hover{
    color: #8e3500;
    border: none;
  }

  .navbar .logo {
    margin-right: auto;
  }

  .navbar .logo img{
    position: relative;
    display: flex;
    height: 50px;
    right: 0;
    padding: 10px;
    align-items: center;
    top: 5px;
  }
  
  .navbar .links {
    display: flex;
  }
  
  .navbar .bars {
    left: 0;
    display: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    right: 0;
    top: 100%;
  }
  
  .dropdown:hover .dropdown-content {
    display: grid;
  }
  
  .dropdown-header {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .dropdown-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
  }
  
  .dropdown-content img {
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .navbar .links {
      display: none;
    }
    .navbar .bars {
      display: block;
      align-items: right;
    }
    .navbar {
      display: flex;
      align-items: center;
    }
    .navbar a {
      margin: 10px 0;
    }
    .navbar .dropdown {
      display: block;
      margin: 20px 0;
    }
  }

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #e6e7e8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    right: 0;
    top: 100%;
  }
  
  .dropdown:hover .dropdown-content {
    display: grid;
  }
  
  .dropdown-header {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    border-bottom:2px solid #f1f1f2;
  }
  
  .dropdown-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
  }
  
  .dropdown-content img {
    margin-bottom: 10px;
    height: 30px;

  }
  
  @media (max-width: 768px) {
    .dropdown-content {
      display: none;
    }
    .navbar {
      flex-direction: column;
      align-items: center;
    }
    .navbar a {
      margin: 10px 0;
    }
    .navbar .dropdown {
      display: block;
      margin: 20px 0;
    }
  }

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  img {
    margin-bottom: 20px;
    height: 90px;
  }
  
  .search-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-radius: 35px;
  }
  
  input[type="text"] {
    padding: 10px 40px 10px 10px;
    width: 100%;
    border: 1px solid #615e5e;
    background: none;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  
  input[type="text"] + label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #615e5e;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.3s ease-in-out;
  }
  
  input[type="text"]:focus + label,
  input[type="text"]:valid + label {
    top: -10px;
    font-size: 14px;
    color: #8e3500;
    background-color: #f1f1f2;
  }
  
  .search-container i {
    position: absolute;
    right: 10px;
    font-size: 20px;
  }

  
  /* Clear floats */
  .content .search::after 
  {
    content: "";
    clear: both;
    display: table;
  }
.footer
{
    position: absolute;
    height: 6%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e6e7e8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login
{
    position: absolute;
    top: 20%;
    left: 37%;
}

.login input,
.modal-content input,
.modal-content select
{
    width: 50%;
    padding: 10px;
    display: inline-block;
    border: 2px solid #615e5e;
    margin: 15px auto;
    border-radius: 5px;
}

.modal-content label{
    left: 10px;
}

.modal-content select
{
    width: 118%;
    padding: 10px;
    border: 2px solid #615e5e;
    margin: 10px 0;
    border-radius: 5px;
}
.login button
{
    width: 119%;
    padding: 10px;
    font-size: 16px;
    background: #8e3500;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}.modal-content button
{
    width: 69%;
    padding: 10px;
    font-size: 16px;
    background: #8e3500;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}
.login button:hover,
.modal-content button:hover
{
    background: #615e5e;
    border: none;
}
.login h1
{
    margin-left: 33%;    
}
.modal-content h1
{
    margin-left: 17%;
}
.contactus
{
    position: absolute;
    top: 70%;
    left: 37%;
}
label::after
{
    content:  " *";
    color: #ff0000;
}
.dashboard
{
    position: absolute;
    top:  20%;
    left: 27%;
}
.alert-message .green
{
    padding: 5px;
    background: #85db70;
    color: #33ff00;
}
.alert-message .red
{
    padding: 5px;
    background: #db7070;
    color: #ff0000;
}

.message-card{
    position: absolute;
    left: 15%;
    top: 30%;
    width: 60%;
    height: 30%;
    padding: 5%;
    background-color: white;
}

.email-icons a{
    display: inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    margin: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.email-icons a i{
    transition: all 0.3s linear;
}

.email-icons a:hover i{
    transform: scale(1.5);
}

.email-icons a:nth-child(1){
    color: #430297;
}

.email-icons a:nth-child(2){
    color: #3e65cf;
}

.bg-modal, .modal-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
   width: 500px;
   height: 500px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.modal-content img{
    height: 50px;
}

.close, .exit{
   position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}